/* Основные стили */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

/* Контейнер страницы */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: white;
}

/* Шапка сайта */
.header {
    background-color: #007bff;
    height: 60px; /* Уменьшенная высота */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: white;
    border-radius: 10px; /* Скругление краев */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Добавление тени */
    width: 90%; /* Изменено для выравнивания с контейнером */
    max-width: 1200px;
    margin: 0 auto; /* Центрирование шапки */
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 15px;
}

.header-title {
    font-size: 1.5em;
    margin-right: 20px; /* Отступ от логотипа */
}

.header-right {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
}

.search-bar {
    padding: 8px;
    margin-right: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    width: 200px; /* Уменьшено для мобильной версии */
    max-width: 100%; /* Ограничение ширины */
}

.login-button {
    background: none;
    border: none;
    cursor: pointer;
}

.login-button img {
    height: 30px;
    width: 30px;
}

/* Секция с играми с горизонтальным скроллом */
.games-horizontal-scroll {
    display: flex;
    gap: 20px; /* Отступы между плитками игр */
    overflow-x: auto;
    padding: 20px 0;
    max-width: 1200px; /* Ограничение ширины контейнера */
    margin: 0 auto; /* Центрирование секции */
}

.game-tile {
    text-align: center;
    text-decoration: none;
    color: black;
    width: 200px;
    flex: 0 0 auto; /* Поддержка горизонтального скролла */
    transition: transform 0.2s;
}

.game-tile img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 10px;
    margin-bottom: 5px;
}

.game-tile p {
    margin: 0;
    padding: 5px 0;
}

.game-tile:hover {
    transform: scale(1.1);
}

/* Адаптивный стиль для мобильных устройств */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        height: auto; /* Позволяет динамически регулировать высоту */
        padding: 10px;
    }

    .header-right {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    }

    .search-bar {
        width: 150px; /* Еще меньшее поле поиска на мобильных */
    }

    .games-horizontal-scroll {
        gap: 10px;
        padding: 10px 0;
    }

    .game-tile {
        width: 80px;
        flex: 0 0 auto;
    }

    .game-tile img {
        height: 60px;
    }

    .game-tile p {
        font-size: 0.8em;
    }
}
